* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.gallery {
  width: 90%;

  margin: 0 auto;
}


h1 {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.image-item {
  width: 230px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.image-list img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  text-align: center;
}

.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.success-message {
  color: green;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}


.image-item-wrapper {
  position: relative;
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.button-add-favorites {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  width: 80%;
}

button.save-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  max-width: 200px;
}

button.save-button:hover {
  background-color: #388E3C;
  transform: scale(1.05);
}

button.save-button:active {
  transform: scale(1);
}

button.save-button:focus {
  outline: none;
}


button.edit-button {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  max-width: 200px;
}

button.edit-button:hover {
  background-color: #007B9F;
  transform: scale(1.05);
}

button.edit-button:active {
  transform: scale(1);
}

button.edit-button:focus {
  outline: none;
}


button.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  max-width: 200px;
}

button.delete-button:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

button.delete-button:active {
  transform: scale(1);
}

button.delete-button:focus {
  outline: none;
}


button:not(:last-child) {
  margin-bottom: 10px;
}


.error {
  color: #f44336;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}
